.App {
	text-align: center;
	width: 100%;
	font-family: 'Dela Gothic One', cursive;
}
.photo-container {
	border-radius: 50px;
	background-color: gray;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#button-new-image {
	background-color: black;
	font-family: 'Dela Gothic One', cursive;
	color: wheat;
	width: 200px;
	height: 80px;
	border-radius: 10px;
	font-size: 25px;
}

#button-new-image:hover {
	cursor: pointer;
	background-color: rgb(12, 180, 180);
}
